<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="tedu.store.mapper.GoodsMapper">

    <!--Integer updateNum(Long id);-->
    <update id="updateNum">
        UPDATE
            t_goods
        SET
            num=#{num},modified_user=#{modifiedUser},modified_time=#{modifiedTime}
        WHERE
            id=#{id}
    </update>

    <!-- List<Goods> findHotList();-->
    <select id="findHotList" resultType="tedu.store.entity.Goods">
        SELECT
            id,title,price,image
        FROM
            t_goods
        WHERE
            status=1
        AND
            num>100
        ORDER BY
            priority
        DESC
            LIMIT 0,4
    </select>

    <!--   List<Goods> findNewList();-->
    <select id="findNewList" resultType="tedu.store.entity.Goods">
        SELECT
            id,title,price,image
        FROM
            t_goods
        WHERE
            status=1
        AND
            num>100
        ORDER BY
            created_time
        DESC
            LIMIT 0,4
    </select>

    <!--  Goods findById(Long id);-->
    <select id="findById" resultType="tedu.store.entity.Goods">
        SELECT
            title,sell_point sellPoint,
            price,image,
            num,status
        FROM
            t_goods
        WHERE
            id=#{id}
    </select>

</mapper>